[workspace]
resolver = "2"
members = [
    "cmd/soroban-cli",
    "cmd/crates/*",
    "cmd/crates/soroban-test/tests/fixtures/test-wasms/*",
    "cmd/crates/soroban-test/tests/fixtures/hello",
    "cmd/soroban-rpc/lib/preflight",
]
default-members = ["cmd/soroban-cli", "cmd/crates/soroban-test"]
exclude = ["cmd/crates/soroban-test/tests/fixtures/hello"]

[workspace.package]
version = "0.8.5"

[workspace.dependencies.soroban-env-host]
version = "0.0.16"
git = "https://github.com/stellar/rs-soroban-env"
rev = "c09c5f1b9af1a60d93c881a545607a84d36b88d2"

[workspace.dependencies.soroban-spec]
version = "0.8.5"
git = "https://github.com/stellar/rs-soroban-sdk"
rev = "8a7d2c3c8c5bc1664ab38f977ff947cc2a26d694"

[workspace.dependencies.soroban-sdk]
version = "0.8.0"
git = "https://github.com/stellar/rs-soroban-sdk"
rev = "8a7d2c3c8c5bc1664ab38f977ff947cc2a26d694"

[workspace.dependencies.soroban-ledger-snapshot]
version = "0.8.0"
git = "https://github.com/stellar/rs-soroban-sdk"
rev = "8a7d2c3c8c5bc1664ab38f977ff947cc2a26d694"

[workspace.dependencies.soroban-cli]
version = "0.8.5"
path = "cmd/soroban-cli"

[workspace.dependencies.stellar-xdr]
version = "0.0.16"
git = "https://github.com/stellar/rs-stellar-xdr"
rev = "53e1a9cf2335aff29305c72deb6f075e78915dad"
default-features = false

[workspace.dependencies]
base64 = "0.13.0"
ethnum = "1.3.2"
hex = "0.4.3"
itertools = "0.10.0"
sep5 = "0.0.2"
serde_json = "1.0.82"
serde = "1.0.82"
stellar-strkey = "0.0.7"
tracing = "0.1.37"
tracing-subscriber = "0.3.16"
tracing-appender = "0.2.2"
which = "4.4.0"
wasmparser = "0.90.0"


# [patch."https://github.com/stellar/rs-soroban-env"]
# soroban-env-host = { path = "../rs-soroban-env/soroban-env-host/" }
# [patch."https://github.com/stellar/rs-soroban-sdk"]
# soroban-spec = { path = "../rs-soroban-sdk/soroban-spec/" }
# soroban-token-spec = { path = "../rs-soroban-sdk/soroban-token-spec/" }
# soroban-sdk = { path = "../rs-soroban-sdk/soroban-sdk/" }
# [patch."https://github.com/stellar/rs-stellar-xdr"]
# stellar-xdr = { path = "../rs-stellar-xdr/" }

[profile.test-wasms]
inherits = "release"
opt-level = "z"
overflow-checks = true
debug = 0
strip = "symbols"
debug-assertions = true
panic = "abort"
codegen-units = 1
lto = true

[profile.release-with-panic-unwind]
inherits = 'release'
panic = 'unwind'
