[package]
name = "soroban-cli"
description = "Soroban CLI"
homepage = "https://github.com/stellar/soroban-cli"
repository = "https://github.com/stellar/soroban-cli"
authors = ["Stellar Development Foundation <info@stellar.org>"]
license = "Apache-2.0"
readme = "README.md"
version = "0.7.1"
edition = "2021"
rust-version = "1.69"
autobins = false
default-run = "soroban"

[[bin]]
name = "soroban"
path = "src/bin/main.rs"

[[bin]]
name = "doc-gen"
path = "src/bin/doc-gen.rs"
required-features = ["clap-markdown"]

[lib]
name = "soroban_cli"
path = "src/lib.rs"
doctest = false

[dependencies]
soroban-env-host = { workspace = true, features = [
    "vm",
    "serde",
    "hostfn_log_fmt_values",
] }
soroban-spec = { workspace = true }
soroban-token-spec = { workspace = true }
soroban-ledger-snapshot = { workspace = true }
stellar-strkey = { workspace = true }
soroban-sdk = { workspace = true }
clap = { version = "4.1.8", features = [
    "derive",
    "env",
    "deprecated",
    "string",
] }
base64 = "0.13.0"
thiserror = "1.0.31"
serde = "1.0.82"
serde_derive = "1.0.82"
serde_json = "1.0.82"
serde-aux = "4.1.2"
hex = "0.4.3"
num-bigint = "0.4"
tokio = { version = "1", features = ["full"] }
termcolor = "1.1.3"
termcolor_output = "1.0.1"
clap_complete = "4.1.4"
rand = "0.8.5"
wasmparser = "0.90.0"
sha2 = "0.10.6"
csv = "1.1.6"
ed25519-dalek = "1.0.1"
jsonrpsee-http-client = "0.15.1"
jsonrpsee-core = "0.15.1"
http = "0.2.9"
regex = "1.6.0"
wasm-opt = "0.112.0"
chrono = "0.4.23"
rpassword = "7.2.0"
dirs = "4.0.0"
toml = "0.5.9"
itertools = "0.10.5"
shlex = "1.1.0"
sep5 = { workspace = true }
ethnum = { workspace = true }
clap-markdown = { version = "0.1.3", optional = true }
which = { workspace = true, features = ["regex"] }
strsim = "0.10.0"


[build-dependencies]
crate-git-revision = "0.0.4"

[dev-dependencies]
assert_cmd = "2.0.4"
assert_fs = "1.0.7"
predicates = "2.1.5"
