---
name: Action

on:
  pull_request:

concurrency:
  group:
    ${{ github.workflow }}-${{ github.ref_protected == 'true' && github.sha ||
    github.ref }}-{{ github.event_name	}}
  cancel-in-progress: true

jobs:
  action:
    strategy:
      matrix:
        image: [macos-15, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.image }}

    steps:
      - uses: stellar/stellar-cli@main
        with:
          version: v23.1.4
