name: bindings typescript

on:
  push:
    branches: [main, release/**]
  pull_request:

jobs:
  test:
    name: test generated libraries
    strategy:
      fail-fast: false
      matrix:
        sys:
          # x64
          - ubuntu-latest-8-cores
          # ARM
          - ubuntu-jammy-8-cores-arm64
          # Apple Silicon
          - macos-15
          # Apple Intel
          - macos-15-intel
        exclude:
          # Only run Linux x64 tests on pull request to save some time
          - sys:
              ${{ github.event_name != 'push' && 'ubuntu-jammy-8-cores-arm64' }}
          - sys: ${{ github.event_name != 'push' && 'macos-15' }}
          - sys: ${{ github.event_name != 'push' && 'macos-15-intel' }}
    runs-on: ${{ matrix.sys }}
    steps:
      - uses: stellar/quickstart@main
        with:
          tag: testing
      - uses: actions/setup-node@v5
        with:
          node-version: "20.x"
      - uses: actions/checkout@v5
      - uses: stellar/actions/rust-cache@main
      - run: rustup update
      - name: install optional dependencies (Linux only)
        run: sudo apt update && sudo apt install -y libdbus-1-dev libudev-dev
        if: runner.os == 'Linux'
      - run: cargo build
      - run: rustup target add wasm32v1-none
      - run: make build-test-wasms
      - run: npm ci && npm run test
        working-directory: cmd/crates/soroban-spec-typescript/ts-tests
