name: bindings typescript

on:
  push:
    branches: [main, release/**]
  pull_request:

jobs:
  test:
    name: test generated libraries
    strategy:
      fail-fast: false
      matrix:
        sys:
          # x64
          - ubuntu-latest-8-cores
          # ARM
          - ubuntu-jammy-8-cores-arm64
          # Apple Intel (this runner has better support to nested virtualization)
          - macos-15-large
        exclude:
          # Only run Linux x64 on non-release PRs to save CI minutes
          - sys: ${{ github.event_name != 'push' && !startsWith(github.ref_name, 'release/') && 'ubuntu-jammy-8-cores-arm64' }}
          - sys: ${{ github.event_name != 'push' && !startsWith(github.ref_name, 'release/') && 'macos-15-large' }}
    runs-on: ${{ matrix.sys }}
    steps:
      - uses: stellar/quickstart@main
        with:
          tag: testing
      - uses: actions/setup-node@v6
        with:
          node-version: "20.x"
      - uses: actions/checkout@v6
      - uses: stellar/actions/rust-cache@main
      - run: rustup update
      - name: install optional dependencies (Linux only)
        run: sudo apt update && sudo apt install -y libdbus-1-dev libudev-dev
        if: runner.os == 'Linux'
      - run: cargo build
      - run: rustup target add wasm32v1-none
      - run: make build-test-wasms
      - run: npm ci && npm run test
        working-directory: cmd/crates/soroban-spec-typescript/ts-tests
