---
name: Soroban Tools e2e

on:
  push:
    branches: [main, release/**]
  pull_request:

concurrency:
  group:
    ${{ github.workflow }}-${{ github.ref_protected == 'true' && github.sha ||
    github.ref }}
  cancel-in-progress: true

jobs:
  systems-test:
    if: github.event_name == 'push'
    strategy:
      fail-fast: false
      matrix:
        sys:
          # x64
          - os: ubuntu-latest-8-cores
          # ARM
          - os: ubuntu-jammy-8-cores-arm64
          # Apple Silicon
          - os: macos-15
          # Apple Intel
          - os: macos-15-intel
          # Windows is not yet supported due to issues with running quickstart image
          # - os: windows-latest-8-cores
    uses: stellar/system-test/.github/workflows/test.yml@master
    with:
      js-stellar-sdk-npm-version: v14.0.0-rc.1
      stellar-cli-ref: ${{ github.ref }}
      test-filter: "^TestDappDevelop$/^.*$"
      runner: ${{ matrix.sys.os }}
      quickstart-tag: "future"
  systems-test-linux:
    if: github.event_name != 'push'
    uses: stellar/system-test/.github/workflows/test.yml@master
    with:
      js-stellar-sdk-npm-version: v14.2.0
      stellar-cli-ref: ${{ github.ref }}
      test-filter: "^TestDappDevelop$/^.*$"
      runner: "ubuntu-latest"
      quickstart-tag: "future"
