name: Soroban Tools e2e

on:
  push:
    branches: [main, release/**]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_protected == 'true' && github.sha || github.ref }}
  cancel-in-progress: true

jobs:
  systems-test:
    strategy:
      fail-fast: false
      matrix:
        sys:
            # x64
          - os: ubuntu-latest-16-cores
            # ARM
          - os: ubuntu-jammy-16-cores-arm64
            # Intel
          - os: macos-13
          # ARM macos is not yet supported, see https://github.com/douglascamata/setup-docker-macos-action
          # Windows is not yet supported due to issues with running quickstart image
          # - os: windows-latest-8-cores
    uses: stellar/system-test/.github/workflows/test.yml@3ee64b44cadfcb9ac53a4ce4472135c51d856ce3
    with:
      stellar-cli-ref: ${{ github.ref }}
      test-filter: "^TestDappDevelop$/^.*$"
      runner: ${{ matrix.sys.os }}
