name: Soroban Tools e2e

on:
  push:
    branches: [main, release/**]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_protected == 'true' && github.sha || github.ref }}
  cancel-in-progress: true

jobs:
  systems-test:
    uses: stellar/system-test/.github/workflows/test.yml@main
    with:
      stellar-cli-ref: ${{ github.ref }}
      test-filter: "^TestDappDevelop$/^.*$"
