name: Soroban Tools e2e

on:
  push:
    branches: [main, release/**]
  pull_request:

jobs:
  integration:
    name: System tests
    strategy:
      matrix:
        scenario-filter: ["^TestDappDevelop$/^.*$"]
    runs-on: ubuntu-latest-4-cores
    env:
      # the gh tag of system-test repo version to run 
      SYSTEM_TEST_GIT_REF: v1.0.12

      # the soroban tools source code to compile and run from system test
      # refers to checked out source of current git hub ref context 
      SYSTEM_TEST_SOROBAN_TOOLS_REF: ${{ github.workspace }}/soroban-tools

      # core git ref should be latest commit for stable soroban functionality
      # the core bin can either be compiled in-line here as part of ci, 
      SYSTEM_TEST_CORE_GIT_REF: https://github.com/stellar/stellar-core.git#61f76a1137b82cbf6724c54bdd325daebed28151
      SYSTEM_TEST_CORE_COMPILE_CONFIGURE_FLAGS: "--disable-tests --enable-next-protocol-version-unsafe-for-production"
      # or can use option to pull a pre-compiled image instead
      # SYSTEM_TEST_CORE_IMAGE: 
      
      # sets the version of rust toolchain that will be pre-installed in the 
      # test runtime environment, tests invoke rustc/cargo
      SYSTEM_TEST_RUST_TOOLCHAIN_VERSION: stable

      # sets the version of soroban-js-client used by tests
      SYSTEM_TEST_JS_SOROBAN_CLIENT_NPM_VERSION: https://github.com/stellar/js-soroban-client.git#main

      SYSTEM_TEST_GO_GIT_REF: https://github.com/stellar/go.git\#soroban-xdr-next
     
      # system test will build quickstart image internally to use for running the service stack
      # configured in standalone network mode(core, rpc)
      SYSTEM_TEST_QUICKSTART_GIT_REF: https://github.com/stellar/quickstart.git#master
      
      # triggers system test to log out details from quickstart's logs and test steps
      SYSTEM_TEST_VERBOSE_OUTPUT: "true"

      # the soroban test cases will compile various contracts from the examples repo
      SYSTEM_TEST_SOROBAN_EXAMPLES_GIT_HASH: main
      SYSTEM_TEST_SOROBAN_EXAMPLES_GIT_REPO: "https://github.com/stellar/soroban-examples.git"
    steps:
      - uses: actions/checkout@v3
        with:
          repository: stellar/system-test
          ref: ${{ env.SYSTEM_TEST_GIT_REF }}
          path: system-test
      - uses: actions/checkout@v3
        with:
          path: soroban-tools
      - uses: stellar/actions/rust-cache@main
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build horizon
        uses: docker/build-push-action@v4
        with:
          context: $SYSTEM_TEST_GO_GIT_REF
          file: services/horizon/docker/Dockerfile.dev
          target: builder
          push: false
          tags: stellar/system-test-horizon:dev
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Build friendbot
        uses: docker/build-push-action@v4
        with:
          context: $SYSTEM_TEST_GO_GIT_REF
          file: services/friendbot/docker/Dockerfile
          push: false
          tags: stellar/system-test-friendbot:dev
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Build soroban-rpc
        uses: docker/build-push-action@v4
        with:
          file: cmd/soroban-rpc/docker/Dockerfile
          push: false
          tags: stellar/system-test-soroban-rpc:dev
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Build stellar-cli
        uses: docker/build-push-action@v4
        with:
          file: cmd/soroban-rpc/docker/Dockerfile
          build-args:
            - DOCKERHUB_RUST_VERSION=$SYSTEM_TEST_RUST_TOOLCHAIN_VERSION
          target: builder
          push: false
          tags: stellar/system-test-soroban-cli:dev
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Build stellar-core
        uses: docker/build-push-action@v4
        with:
          context: $SYSTEM_TEST_CORE_GIT_REF
          file: docker/Dockerfile.testing
          build-args:
            - BUILDKIT_CONTEXT_KEEP_GIT_DIR=true
            - CONFIGURE_FLAGS=$SYSTEM_TEST_CORE_COMPILE_CONFIGURE_FLAGS
          target: builder
          push: false
          tags: stellar/system-test-soroban-cli:dev
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build quickstart
        uses: docker/build-push-action@v4
        with:
          context: $SYSTEM_TEST_QUICKSTART_GIT_REF
          build-args:
            - STELLAR_CORE_IMAGE_REF=$SYSTEM_TEST_CORE_GIT_REF
            - HORIZON_IMAGE_REF=stellar/system-test-horizon:dev
            - FRIENDBOT_IMAGE_REF=stellar/system-test-friendbot:dev
            - SOROBAN_RPC_IMAGE_REF=stellar/system-test-soroban-rpc:dev
          push: false
          tags: stellar/system-test-base:dev
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Build system test
        uses: docker/build-push-action@v4
        with:
          context: $GITHUB_WORKSPACE/system-test
          build-args:
            - QUICKSTART_IMAGE_REF=stellar/system-test-base:dev
            - SOROBAN_CLI_IMAGE_REF=stellar/system-test-soroban-cli:dev
            - RUST_TOOLCHAIN_VERSION=$SYSTEM_TEST_RUST_TOOLCHAIN_VERSION
            - NODE_VERSION=14.20.0
            - JS_SOROBAN_CLIENT_NPM_VERSION=$SYSTEM_TEST_JS_SOROBAN_CLIENT_NPM_VERSION
          push: false
          tags: stellar/system-test:dev
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Run system test scenarios
        run: |
          docker run --rm -t --name e2e_test stellar/system-test:dev \
          --VerboseOutput $SYSTEM_TEST_VERBOSE_OUTPUT  \
          --TestFilter "${{ matrix.scenario-filter }}" \
          --SorobanExamplesGitHash $SYSTEM_TEST_SOROBAN_EXAMPLES_GIT_HASH
