name: Ledger Emulator Tests

on:
  push:
    branches: [ main, release/** ]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_protected == 'true' && github.sha || github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  emulator-tests:
    strategy:
      fail-fast: false
      matrix:
        sys:
          # x64
          - ubuntu-latest-8-cores
          # ARM
          - ubuntu-jammy-8-cores-arm64
          # Apple Intel (this runner has better support to nested virtualization)
          - macos-15-large
        exclude:
          # Only run Linux x64 tests on pull request to save some time
          - sys: ${{ github.event_name != 'push' && 'ubuntu-jammy-8-cores-arm64' }}
    runs-on: ${{ matrix.sys }}
    env:
      CI_TESTS: true
    steps:
      - uses: actions/checkout@v5
      - uses: stellar/actions/rust-cache@main
      - name: Setup Colima and Docker (macOS only)
        if: runner.os == 'macos'
        run: |
          brew update
          brew install colima docker
          colima start
          export DOCKER_HOST=unix:///Users/runner/.colima/default/docker.sock
          echo "DOCKER_HOST=unix:///Users/runner/.colima/default/docker.sock" >> $GITHUB_ENV
      - name: install optional dependencies (Linux only)
        run: sudo apt update && sudo apt install -y libudev-dev libdbus-1-dev
        if: runner.os == 'Linux'
      - run: RUST_BACKTRACE=1 cargo test --manifest-path cmd/crates/stellar-ledger/Cargo.toml --features "emulator-tests" -- --nocapture
      - run: RUST_BACKTRACE=1 cargo build --features emulator-tests,additional-libs
      - run: RUST_BACKTRACE=1 cargo test --features emulator-tests --package soroban-test --test it -- emulator
