---
name: RPC Tests
on:
  push:
    branches: [main, release/**]
  pull_request:

concurrency:
  group:
    ${{ github.workflow }}-${{ github.ref_protected == 'true' && github.sha ||
    github.ref }}
  cancel-in-progress: true

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        sys:
          # x64
          - ubuntu-latest-8-cores
          # ARM
          - ubuntu-jammy-8-cores-arm64
          # Intel
          - macos-15
        exclude:
          # Only run Linux x64 tests on pull request to save some time
          - sys:
              ${{ github.event_name != 'push' && 'ubuntu-jammy-8-cores-arm64' }}
          - sys: ${{ github.event_name != 'push' && 'macos-15' }}
    runs-on: ${{ matrix.sys }}
    steps:
      - uses: stellar/quickstart@main
        with:
          tag: future
      - uses: actions/checkout@v5
      - uses: stellar/actions/rust-cache@main
      - run: rustup update
      - run:
          sudo apt update && sudo apt install -y libudev-dev libdbus-1-dev
          gnome-keyring
        if: runner.os == 'Linux'
      - name: Start gnome-keyring
        if: runner.os == 'Linux'
        # run gnome-keyring with 'foobar' as password for the login keyring
        # this will create a new login keyring and unlock it
        # the login password doesn't matter, but the keyring must be unlocked for the tests to work
        # this is based on the ci workflow in the keyring crate repo
        run:
          gnome-keyring-daemon --components=secrets --daemonize --unlock <<<
          'foobar'
      - name: Check GNOME Keyring
        if: runner.os == 'Linux'
        run: |
          gnome-keyring-daemon
      - run: cargo build --features additional-libs
      - run: rustup target add wasm32v1-none
      - run: make build-test-wasms
      - run:
          cargo test --features it --package soroban-test --test it --
          integration --test-threads=1
