name: Temporary Ledger Emulator Tests
on:
  push:
    branches:
      - AhaLabs:fix/troubleshooting-emulator-tests
  pull_request_target:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_protected == 'true' && github.sha || github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  emulator-tests:
    runs-on: ubuntu-latest
    env:
      CI_TESTS: true
    steps:
      - uses: actions/checkout@v3
      - uses: stellar/actions/rust-cache@main
      - name: install libudev-dev
        run: |
          sudo apt install -y libudev-dev
      - run: |
          cargo test --manifest-path cmd/crates/stellar-ledger/Cargo.toml --features "emulator-tests" -- --nocapture
