name: Test Install

on:
  push:
    branches: [main, release/**]
    paths:
      - install.sh
      - test_install.rb
  pull_request:
    paths:
      - install.sh
      - test_install.rb

concurrency:
  group:
    ${{ github.workflow }}-${{ github.ref_protected == 'true' && github.sha ||
    github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  test-install:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1.288.0
        with:
          ruby-version: ruby
      - name: Run install tests
        run: ruby test_install.rb
